/bin/
/src/test/resources/app/
/build/
/test-output/
/src/test/resources/screenshots/
/src/test/resources/log-files/
/allure-results/
/wrapper/
/caches/
/out/
/native/
/daemon/
/*.jpg/
/*.png/
/*.log/
/*.json/
/*.gradle/
/.idea/
/*.apk/
/*.ipa/
.project
/*.iml/
src/test/resources/apps/
/*.xml/
/*.txt/
/src/test/resources/buildVersions/


